body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.02em;
  line-height: 24px;
  font-size: 16px;
}
:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white: #ffffff;
  --main-gap: 24px;
  --second-gap: 48px;
}
a,
li {
  list-style-type: none;
  text-decoration: none;
}
.item-nav {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.logo-header {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark);
}
.logo-header-web {
  color: var(--primary-brand);
}
.tel-mail {
  font-family: 'Roboto';
  font-style: normal;
  color: var(--text);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  color: var(--white);
}
.hero {
  background: var(--dark);
  text-align: center;
}
.button-hero {
  font-weight: 500;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--white);
  padding: 16px 32px;
  gap: 10px;
  background: var(--primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}
.about-us-title {
  font-weight: 500;
  font-size: 20px;
  color: var(--dark);
}
.about-us-text {
  font-weight: 400;
  color: var(--text);
}
.what-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark);
}
.our-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark);
}
.employees {
  font-weight: 500;
  font-size: 20px;
  color: var(--dark);
}
.work {
  color: var(--dark);
}
.footer-text {
  color: var(--accent);
}
.footer {
  background: var(--dark);
}
.logo-footer-foot {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}
.footer-text {
  color: var(--accent);
}
.logo-footer {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.item-nav:active {
  color: var(--pressed-state);
}
button {
  cursor: pointer;
}
.hero button:hover,
button:focus {
  background-color: var(--pressed-state);
}
button {
  font-family: inherit;
}
.potfolio-button {
  background: var(--light);
  border: 1px solid var(--accent);
  border-radius: 4px;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
}
.logo-footer {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light);
}
.item-nav:hover {
  color: var(--pressed-state);
}
.item-nav:focus {
  color: var(--pressed-state);
}

.potfolio-button:hover {
  background: var(--pressed-state);
  color: var(--light);
  border-color: var(--pressed-state);
}
.potfolio-button:focus {
  background: var(--pressed-state);
  color: var(--light);
}
.mal:hover {
  color: var(--pressed-state);
}
.mal:focus {
  color: var(--pressed-state);
}
